@charset "ISO-8859-1";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
  }

  .main-text{
      font-size: 20px;
      padding: 20px;
      color: rgb(0, 109, 218);
  }

.container{
    padding: 10px;
    margin-top: 0px;
}

.first-row{
    margin-left: 320px;
    padding: 10px;
    display: inline-block;
}
.third-row{
    margin-left: 490px;
    display: inline-block;
}
.last-btn{
    margin-left: 215px;
}

div.gallery {
    border: 1px solid #ccc;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div .las {
     font-size: 80px;
     color: black;
     margin-left: 60px;
     margin-top: 40px;
     
  }
  
  .last-2{
    margin-left:210px;
  }
  .last-3{
    margin-left:425px;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    margin-top: 10px;
  }
  .desc a{
    text-decoration: none;
    color: rgb(0, 102, 255);
    font-size: 18px;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }